<div class="layout-container">
  <section class="mb4" layout="column" layout-align="start center">
    <h1 class="f1 tc">Settings</h1>
  </section>

  <section layout="column" layout-align="start center">
    <div class="mw7 w-100" ng-if="$ctrl.userAccount">
      <div ng-if="$ctrl.userAccount.app_authenticated" md-whiteframe="2" class="br2 pa3 mb4">
        <h3 class="f3 mb2">{{ ::$ctrl.userAccount.handle }}</h3>
        <div><b>YellowAnt Invoke Name:</b> {{ ::$ctrl.userAccount.user_invoke_name }}</div>
        <div><b>Repository Webhooks for YellowAnt:</b> {{ ::$ctrl.userAccount.webhooks_count }}</div>
        <div layout="row" layout-align="end start" class="layout-align-end-start layout-row">
          <md-button class="md-accent md-raised" ng-click="$ctrl.onDeleteAccount()">Remove Integration</md-button>
        </div>
      </div>

      <div ng-if="$ctrl.userAccount.app_authenticated" md-whiteframe="2" class="br2 pa3 mb4">
        <div class="mb4">
          <h3 class="f3 mb2">Your Webhooks</h3>
          <div>
            These are webhooks which have been created specifically for the YellowAnt bot.
            You can create new Statuspage repository webhooks for your YellowAnt integration by sending the chat command:-
          </div>
          <div class="pa1"><code class="ba pl2 pr2">{{ ::$ctrl.userAccount.user_invoke_name }} createwebhook repo "repo-name"</code></div>
        </div>
        <div
            ng-repeat="webhook in $ctrl.userAccount.webhooks
                       track by webhook.id"
            class="mb3">
          <h4 class="f4 b mb2">{{webhook.repo_full_name}}</h4>
          <p class="mt0 mb1"><b>Webhook ID:</b> {{webhook.id}}</p>
          <p class="mt0"><b>Repo ID:</b> {{webhook.repo}}</p>
          <div ng-if="webhook.is_deleted" class="mb3 ba1 br2 pa2" md-colors="::{ color: 'accent'}">
            This webhook has been removed from YellowAnt, and you will not receive any notifications for it.<br>
            Please delete it manually from Statuspage since we do not have delete permissions for your Statuspage account.
          </div>
          <div layout="flex"
               ng-if="!webhook.is_deleted"
               layout-align="space-between center"
               class="mb3">
            <a md-button
               ng-href="{{webhook.url}}"
               target="_blank"
               class="md-primary md-raised ma0">
              Configure Webhook
            </a>
            <md-button ng-click="$ctrl.onDeleteWebhook(webhook)" class="md-icon-button">
              <md-icon>delete</md-icon>
            </md-button>
          </div>
          <div class="hr-divider"></div>
        </div>
      </div>

      <div ng-if="!$ctrl.userAccount.app_authenticated" md-whiteframe="2" class="br2 pa3 mb4">
        <h3 class="f3 mb2" md-colors="::{ color: 'accent'}">Statuspage Account Not Integrated</h3>
        <div><b>YellowAnt Invoke Name:</b> {{ ::$ctrl.userAccount.user_invoke_name }}</div>
        <div layout="row" layout-align="end start" class="layout-align-end-start layout-row">
          <md-button class="md-accent md-raised" ng-click="$ctrl.integrateAccount()">Integrate</md-button>
        </div>
      </div>

    </div>
    
    <div class="mw7 w-100" ng-if="!$ctrl.userAccount">
      Could not get Yellowant integration details.
    </div>
  </section>

</div>
